<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">

<head>
	<title>CafetApp</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../css/stilos.css">
	<link rel="icon" type="image/x-icon" href="../../img/logo.png">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
	<div class="container">
		<br>
		<br>
		<div class="alert alert-danger alert-dismissible fade show text-center d-flex justify-content-center"
			role="alert" th:if="${alerta}">
			<span class="material-symbols-outlined me-2">
				warning
			</span>
			<strong th:text="'Error! '+${alerta}"> </strong>

			<button type="button" class="btn-close text-danger" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="d-flex justify-content-center">
			<img src="../../img/logo.png" alt="logo" class="img" id="logo">
		</div>
		<br>
		<h1 class="text-center" id="titulo" th:text="${colegio.nombre}"></h1>
		<br>
		<h2 class="text-center" id="titulo" th:text="'Bienvenido '+${cafeteria.nombres}+' '+${cafeteria.apellidos}">
		</h2>
		<br>

		<form id="buscar" class="container" th:action="@{/cafeteria/buscar/}+${colegio.id}+@{/}+${cafeteria.id}"
			method="POST">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="form-floating col-6">
					<input type="text" class="form-control" id="floating" placeholder="Documento de Identidad" name="id"
						required>
					<label for="floatingRestricciones" class="ms-3">Documento de Identidad</label>
				</div>
				<button class="d-flex justify-content-center align-items-center btn col-1" type="submit" id="bbuscar">
					<a class="btn d-flex justify-content-center align-items-center" id="abuscar">BUSCAR<span
							class="material-symbols-outlined ms-3">
							person_search
						</span></a>
				</button>
			</div>

		</form>

		<button class="container d-flex justify-content-center btn mb-1 mt-4" type="submit" id="bregresar">
			<a th:href="@{/cafeteria/}+${colegio.id}" class="btn" id="aregresar">CERRAR SESIÓN</a>
		</button>
	</div>
	<br>
	</div>
</body>

</html>